{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css\font-awesome\css\font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">


    <title>Hello, world!</title>
  </head>
  <body>
    <!-- navigation-->
    <!--navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-new ">
      <a class="navbar-brand" href="#"><img class="logo" src="{% static 'img/logo.png' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!--end of navbar-->
    <!--sidebar-->
    
    <div header id="header">
        <div class="row">
            <div class="col-md-10">
                <h1> <span><i class="fa fa-tachometer fa-fw"></i>  <small>Dashboard</small></h1>
            </div>
            <div class="col-md-2">
                <div class="dropdown create">
                    
                </div>
            </div>
        </div>
    </div>

    <section >
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-3" id="main">

                    <div class="card">
                        
                        <div class="card-body">
                            <p><img class="rounded-circle account-logo" src="{{ user.profile.Image.url }}"></p>
                            <h4 class="account-head">{{ user.username }}</h4>
                        </div>
                    </div>

                    
                    {% with url_name=request.resolver_match.url_name %}

                    <!----
                        <li class="li">
                          <a href="#" class="list-group-item list-group-item-action bgcolor main-color-bg ">
                            <div class="icon">
                                <span><i class="fa fa-cogs fa-fw"></i> Dashboard</span>
                            </div>    
                          </a>
                        </li>

                        <li class=" bgcolor li">
                          <a href="#" class=" ">
                                <div class="iconi">
                                    <i class="fa fa-fl fa-list fa-fw"></i><br/>
                                    <i class="fa fa-fl fa-list fa-fw"></i>
                                </div>
                            </a>
                           
                        </li>
                        --->

                        <div>
                            <ul class="ull list-group">
                                <li class="lii list-group-item bgcolor">
                                    <a href="{% url 'all_teens' %}">
                                        <div class="iconn">
                                            <i class="fa fa_fnn fa-users" aria-hidden="true"></i>
                                            <i class="fa fa_fnn fa-users" aria-hidden="true"></i>
                                        </div>
                                        <div class="nam"><span data-text="All teens" >All teens</span></div>
                                    </a>
                                </li>
                                <li class="lii list-group-item bgcolor">
                                    <a href="{% url 'student_create' %}">
                                        <div class="iconn">
                                            <i class="fa fa_fnn fa-plus" aria-hidden="true"></i>
                                            <i class="fa fa_fnn fa-plus" aria-hidden="true"></i>
                                        </div>
                                        <div class="nam"><span data-text="Add">Add</span></div>
                                    </a>
                                </li>
                                <li class="lii list-group-item bgcolor">
                                    <a href="#">
                                        <div class="iconn">
                                            <i class="fa fa_fnn fa-calendar" aria-hidden="true"></i>
                                            <i class="fa fa_fnn fa-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="nam"><span data-text="Birthdays">Birthdays</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        

                    {% endwith %}
                    </ul>
                    <div class="card bgcolor" id="well">
                        <h4>Disk space used</h4>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <h4>Bandwidth used</h4>
                        <div class="progress ">
                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </div>
                <div class="col md-9">
                    <div class="card text-center">
                        <div>
                            {% block card %}

                            {% endblock %}
                        </div>

                    </div>

                    <div>
                        <!--content area-->
                        {% block content %}
                        {% endblock %}
                        <!--end of content area-->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--end of sidebar-->

  </body>
</html>