{% extends 'base.html' %}

{% block content %}
<div class="container ">
{% for teen in teens %}


{% endfor %}

</div>

        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Middle</th>
                      <th>State</th>
                      <th>Start date</th>

                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Middle</th>
                      <th>State</th>
                      <th>Start date</th>

                    </tr>
                  </tfoot>
                  <tbody>
                  {% for teen in teens %}
                    <tr>
                      <td>{{ teen.first_name }}</td>
                      <td>{{ teen.last_name }}</td>
                      <td>{{ teen.middle_name }}</td>
                      <td>{{ teen.state_of_origin }}</td>
                      <td>{{teen.date_of_birth|date:"F j, Y"}}</td>
                      <td><a class="btn btn-warning" href="{% url 'update_teen' teen.id %}">Edit</a></td>
                      <td><a class="btn btn-success" href="{% url 'teen_detail' teen.id %}">Details</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>

{% endblock %}